{% extends 'layouts/backend-master.html' %}

{% block title %}
    Edit Category
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'categories:index' %}">Categories</a>
    </li>
    <li class="breadcrumb-item active">
        Edit category
    </li>
{% endblock %}

{% block content %}
    <form action="." method="post" novalidate>
        {% csrf_token %}
        
        {% include 'includes/backend/form.html' %}

        <input type="submit" class="btn btn-success" value="Update">
    </form>
     
{% endblock content %}