<section id="menu">
    <div class="container">
        <div class="menu-area">
            <!-- Navbar -->
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <!-- Left nav -->
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        {% for parent in categories %}
                            <li>
                                {% with sub_categories=parent.categories.all %}
                                <a href="#">
                                    {{ parent.name }}
                                    {% if sub_categories %}
                                        <span class="caret"></span>
                                    {% endif %}
                                </a>

                                
                                    {% if sub_categories %}
                                        <ul class="dropdown-menu">
                                            {% for sub_category in sub_categories %}
                                            <li>
                                                <a href="{% url 'products-list' parent.id sub_category.id %}">{{ sub_category.name }}</a>
                                            </li>
                                            {% endfor %}
                                            
                                        </ul>
                                    {% endif %}
                                {% endwith %}
                            </li>
                        {% endfor %}
                        <!-- <li>
                            <a href="#">Women
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Kurta & Kurti</a>
                                </li>                                
                                <li>
                                    <a href="#">And more..
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">Sleep Wear</a>
                                        </li>
                                        
                                        <li>
                                            <a href="#">And more..
                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="#">Rings</a>
                                                </li>
                                                
                                                <li class="disabled">
                                                    <a class="disabled" href="#">Disabled item</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li> -->
                        
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
</section>